.featured-content-wrapper {

  background-image: none;

  .container-fluid {

      padding: 0 30px;
      margin: 0 auto;
      z-index: 2;

    .featured-item{

      background: #fff;
      position: relative;
      box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.15);

      &:nth-child(3n){
        @include flex();
      }
      &:nth-child(n){
        background: #fff;
      }
    }

    .featured-item:after{
      content: "";
      position: absolute;
      top:0;
      left:0;
      border: 1px dashed #704400;
      margin:20px;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
    }

    .featured-section {
      margin: 5px 25px 25px;
      z-index: 200;
      background: none;

      @media (min-width: $screen-md-min) {
        margin:0;
        padding: 10px 40px 40px;
      }
    }


    @media (min-width: $screen-md-min) {

    }

    .featured-img {
      text-align: center;
      padding:0 0 10px;

      img {
        max-width:75%;
        min-width: 0%;
        width: auto;
        height:auto;
      }
    }

    .featured-body{
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      color: #794400;

      @media (min-width: $screen-md-min) {
        text-align: left;
      }
    }

    .featured-button {

      a {
        color:#fff;
        border-radius: 5px;
        background-image: linear-gradient(to bottom, #db2c10, #bf311a);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      }
    }

    h3 {
      width: 100%;
      font-size: 32px;
      margin:0;
      padding: 35px 40px 15px;
      font-size: 26px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #c1311a;
      text-transform: capitalize;;
      background: url('images/cream.png') top left repeat;
      text-shadow: none;
    }
  }
}

.featured-item{

}
.featured-section{
  //display: none;
  @include flex(1 0 auto);
}
