
.hero{
  margin-top:-15px; //move hero image up to header
}

.hero.hero-1{

  .hero-text-wrapper>div{
      text-align: center;

      @media (min-width: $screen-md-min) {
        text-align: left;
        padding-left:15px;
      }
  }

  .hero-text{
    border-radius: 4px;
    background: rgba(255,255,255, .85);
    padding: 20px 20px;
    margin: 30px 15px;
    margin-top:50px;
    text-align: left;

    display: inline-block;
    margin:50px auto 30px;
    width:auto;
    max-width: 90%;

    @media (min-width: $screen-md-min) {
      padding: 34px 34px;
      max-width: 60%;
    }
    @media (min-width: $screen-md-min) {

    }
  }

  .hero-button a {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #db2c10, #bf311a);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  }
}

.hero.hero-2 {
  padding: 20px 0px 0px;
  background-image: url('images/cream.png');
  background-repeat: repeat;
  background-size: contain;
  overflow: hidden;

  .container-fluid {
    padding-bottom: 0px;
    position: static;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 40px;
    }
  }
    .hero-text{

      background: rgba(255,255,255, .8);
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.59;
      color: #794400;
      position: relative;
      z-index: 200;
      margin: 30px auto;

      h3 {
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        color: #c1311a;
      }

      @media (min-width: $screen-md-min) {
        margin: 30px 15px;
      }

      .hero-button {

        a {
          border-radius: 5px;
          color:#fff;
          padding: 10px 45px;
          background-image: linear-gradient(to bottom, #db2c10, #bf311a);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

        }
      }
    }

    .hero-img-wrapper {
      position: absolute;
      top:-20px;
      width:auto;
      height: 70%;
      left:15%;

      @media (min-width: $screen-sm-min) {
        left:50%;
        height: 100%;
        top:0;
      }

      img {
        height: 100%;
        width:auto;
      }

      @media (min-width: $screen-sm-min) {
        width:60%;
        margin:0 auto;
      }

    }
  }
